@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.tituloPag {
    font-family: 'Long Cang', cursive;
    text-align: center;
    font-size: 60px;
    color: grey;
    background-color: white;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body-index {
  background-color: white;
}

.body-nosotros {
  background-color: black;
}

.body-productos {
  background-color: black;
}

.body-contacto {
  background-color: black;
}

nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}
  
.logo {
    height: 40px;
}

.links a {
    color: var(--clr-grey-3);
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    font-family: 'Long Cang', cursive;
    font-weight: 600;
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
    display: block;
}

.main-content {
 padding-top: 75px;
}

#buscador {
  font-family: 'Long Cang', cursive;
  font-size: 600px;
  color: #000000;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: block;
  margin:0 auto;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  width: 800px;
  border-radius: 5px;
}

.titulo-principal {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Long Cang', cursive;
  font-size: 40px;
  color: grey;
}



#carrito {
width: auto;
display: flex;
overflow-x: auto;
gap: 20px;

}


#carrito::-webkit-scrollbar {
  width: 120px;
}

#carrito::-webkit-scrollbar-track {
  background-color: #3333cc;
  border-radius: 15px;
}

#carrito::-webkit-scrollbar-thumb {
  background-color: #ee5a5a4d;
  border-radius: 15px;
}

#carrito::-webkit-scrollbar-thumb:hover {
  background-color: #b500da;
}

.card{
  border: 1px solid black;
  width: 250px;
  flex:0 0 auto;
  margin-bottom: 15px;
}

.nombre-producto {
  color: blue;
}

.texto-contactanos {
  text-align: center;
  font-family: 'Long Cang', cursive;
  font-size: 25px;
  padding-bottom: 8PX;
}
.parrafo-contactanos{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.pie-pagina-completo {
  padding-top: 10px;
  justify-content:  center;
  display: flex;
  gap: 30px;
  background-color: whitesmoke;
}

.iconos {
width: 50px;
}



  
@media screen and (min-width: 800px) {

}
 
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 800px) {

    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
      border: 2px solid black;
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
  }