@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
  *,
::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.tituloPag {
    font-family: 'Long Cang', cursive;
    text-align: center;
    font-size: 60px;
    color: black;
    background-color: white;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body-index {
  background-color: black;
}

.body-nosotros {
  background-color: black;
}

.body-productos {
  background-color: black;
}

.body-contacto {
  background-color: black;
}

nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    background-color: white;
  }

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}
  
.logo {
    height: 40px;
}

.links a {
    color: var(--clr-grey-3);
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    font-family: 'Long Cang', cursive;
    font-weight: 600;
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
    display: block;
}

.cajas-productos {
  justify-content: center;
  display: flex;
  margin: 30px 0px 30px 0px ;

}

.caja-card {
  width: 300px;
  color: white;
  background-color: gray;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 15px;
}

.imagen-card {
  width: 300px;
}

.informacion-cards {
  padding-left: 12px;
}

.pie-pagina-completo {
  padding-top: 10px;
  justify-content:  center;
  display: flex;
  gap: 30px;
  background-color: whitesmoke;
}

.iconos {
width: 50px;
}



  
@media screen and (min-width: 800px) {

}
 
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 800px) {

    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
      border: 2px solid black;
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
  }