@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.tituloPag {
    font-family: 'Long Cang', cursive;
    text-align: center;
    font-size: 60px;
    color: grey;
    background-color: white;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.body-index {
  background-color: black;
}

.body-nosotros {
  background-color: black;
}

.body-productos {
  background-color: black;
}

.body-contacto {
  background-color: black;
}

nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-primary-5);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-1);
    transform: rotate(90deg);
}
  
.logo {
    height: 40px;
}

.links a {
    color: var(--clr-grey-3);
    font-size: 28px;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
    font-family: 'Long Cang', cursive;
    font-weight: 600;
}

.links a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 10rem;
    display: block;
}

.main-content {
 padding-top: 75px;
}


.fondo-p {
margin: auto;
width: 100%;
display: flex;
justify-content: center;
}

.imagen-fondo{
  width: 80%;
  opacity: 0.7;
  background-color: white;
}


.titulo-principal {
  text-shadow: 4px 4px 2px rgba(87,131,187,0.6);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: 'Long Cang', cursive;
  font-size: 50px;
  color: white;
}



#carrito {
width: auto;
display: flex;
overflow-x: auto;
gap: 30px;
margin: 20px;
padding-bottom: 25px;
}


#carrito::-webkit-scrollbar {
  width: 120px;
}

#carrito::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 15px;
}

#carrito::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 15px;
}

#carrito::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.card{
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  border: 1px solid white;
  width: 300px;
  flex:0 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}


.card button.boton-compra {
  margin-top: auto;
}

.nombre-producto {
  color: whitesmoke;
  font-size: 20px;
}

.precio {
  color: white;
  padding-bottom: 15px;
  padding-top: 10px;
}

.boton-compra {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
 }

 .boton-compra:hover {
  background-color: #45a049;
}


#total {
  justify-self:auto;
justify-content: center;
width: auto;
gap: 30px;
margin: 20px;
padding-bottom: 25px;
}

.totalCarro {
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
  background-color: #4CAF50;
  
}

.listaTareas {
  color: white;
  text-align: center;
}

.caja-tareas  {
  display: flex;
  justify-content: center;
  align-items: center;

}

.texto-contactanos {
  text-align: center;
  font-family: 'Long Cang', cursive;
  font-size: 30px;
  padding-bottom: 8PX;
}
.parrafo-contactanos{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 80px 0px 80px;

}

.pie-caja {
  margin-top: 100px;
  background-color: #4CAF50;
}

.pie-pagina-completo {
  padding-top: 10px;
  margin: 10px;
  justify-content:  center;
  display: flex;
  gap: 30px;
  background-color: #4CAF50;
}

.iconos {
width: 50px;
}

.derechos {
  background-color: rgb(25, 99, 23);
  margin-top: 8px;
  padding:10px 0px 10px 0px;
  text-align: center;
}

  
@media screen and (min-width: 800px) {

}
 
@media screen and (min-width: 992px) {

}

@media screen and (min-width: 800px) {

    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
      border: 2px solid black;
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
  }